@import '../../globals';

.photos {
    background: linear-gradient(90.49deg, #191919 15.36%, #282828 70.44%);
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.photos__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
    position: relative;
    width: 100%;
}

.photos__loader {
    height: 7.5rem;
    margin-top: 10%;
    width: 7.5rem;
}

.photos__empty {
    margin-top: 5rem;
}