@import '../../index';

$card_width: 35rem;
$card_panel_height: 10rem;

.home__card-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    margin-top: 5rem;
}

.home__card-item {
    box-shadow: $box_shadow_xlg;
    color: $dark;
    height: 100%;
    height: $card_width + $card_panel_height;
    margin-top: 2rem;
    overflow: hidden;
    position: relative;
    width: $card_width;
}

.home__card-header {
    height: calc(100% - 10rem);
    top: 0;
    width: 100%;
}

.home__card-img-container {
    align-items: center;
    background: white;
    display: flex;
    height: $card_width;
    justify-content: center;
    position: absolute;
    transition: all 0.2s ease-out;
    width: $card_width;
    z-index: 3;
}

.home__card-img {
    height: 80%;
    object-fit: contain;
    transition: all 0.2s ease-out;
    width: 80%;
}

.home__card-panel {
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: column;
    height: 10rem;
    justify-content: space-evenly;
    padding: 1rem;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
    z-index: 2;

    &--1 {
        background: #f44335;
    }

    &--2 {
        background: #e91e62;
    }

    &--3 {
        background: #9c27b0;
    }
}

.home__card-body {
    background: $dark;
    bottom: 0;
    color: white;
    height: $card_width;
    opacity: 0;
    padding: 3rem;
    position: absolute;
    transform: translateY($card_width);
    transition: transform 0.2s ease-out, opacity 0.75s ease-out 0.2s;

    button {
        border: 0;
        bottom: 3rem;
        color: white;
        font-size: 1.5rem;
        outline: 0;
        padding: 1rem 2rem;
        position: absolute;
        transition: all 0.2s ease-out;
    }

    &--1 button {
        background: #f44335;
    }

    &--2 button {
        background: #e91e62;
    }

    &--3 button {
        background: #9c27b0;
    }
}

.home__card-item.active .home__card-img-container {
    border-radius: 50%;
    height: 8rem;
    left: 1rem;
    top: 1rem;
    width: 8rem;
}

.home__card-item.active .home__card-img {
    border-radius: 50%;
}

.home__card-item.active .home__card-panel {
    bottom: $card_width;

    p,
    small {
        transform: translateX(12rem);
        transition: all 0.2s ease-out;
    }
}

.home__card-item.active .home__card-body {
    opacity: 1;
    transform: translateY(0);
}
