@import '../../globals';

@keyframes percentage {
    @for $i from 1 through 100 {
        $value: $i + '%';
        #{$value} {
            content: '#{$i}';
        }
    }
}

@mixin rotate($name, $initial, $final) {
    animation: #{$name} 10s ease-in-out infinite;

    @keyframes #{$name} {
        0% {
            transform: rotate($initial);
        }

        100% {
            transform: rotate($final);
        }
    }
}

@keyframes clockwise {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes counterclockwise {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.home__particles {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.home {
    background: $blacker;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    position: relative;
}

.home__header {
    align-items: center;
    background: linear-gradient(90.49deg, #121212 15.36%, #282828 70.44%);
    display: flex;
    height: 80vh;
    justify-content: space-evenly;
    position: relative;
    width: 100%;

    span {
        color: $teal;
    }
}

.home__pct-text {
    color: white;
    display: inline-block;
    position: absolute;
    right: -6rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    &::before {
        animation: percentage 10s ease-in-out infinite;
        content: '';
        position: absolute;
        right: 1.5rem;
        top: 0;
    }
}

.home__video-container {
    position: relative;
    transform: translateY(-7.5rem);

    .video {
        box-shadow: $box-shadow-xlg;
        object-fit: cover;
        position: relative;
        width: 60rem;
    }

    .video__weather-text {
        bottom: 0;
        color: white;
        display: inline-block;
        font-size: 1.5rem;
        left: -7.5rem;
        position: absolute;
        transform: rotate(-90deg) translateY(-50%);
        z-index: 1;
    }

    .video__content-container {
        background: rgba($teal, 0.2);
        padding: 3rem;
        position: absolute;
        transform: translate(8rem, -10rem);
        width: 50rem;

        .video__title {
            margin-top: 0;
        }

        .video__subtext {
            line-height: 1.5;
            margin-bottom: 5rem;
        }

        .video__content-link {
            background: $blacker;
            color: white;
            padding: 2rem 4rem;
            text-decoration: none;
            transition: background 0.3s, color 0.3s;
        }

        .video__content-link:hover {
            background: darken($blacker, 2%);
            color: $light;
        }
    }
}

.home__circle-container {
    align-items: center;
    color: $teal;
    display: flex;
    flex-direction: column;
    height: 50rem;
    justify-content: space-evenly;
    position: relative;
    width: 50rem;

    footer {
        bottom: 7rem;
        font-size: 1.8rem;
        position: absolute;
        right: 13rem;
    }
}

.home__circle-track {
    background: $blacker;
    border: 0.2rem solid $teal;
    border-radius: 50%;
    height: 50rem;
    position: absolute;
    text-align: center;
    width: 50rem;

    &--clockwise {
        @include rotate(clockwise, 0, 360deg);
    }

    &--counterclockwise {
        @include rotate(counterclockwise, 0, -360deg);
    }

    &--counterclockwise::before {
        align-items: center;
        border: 0.2rem solid white;
        border-radius: 50%;
        content: '';
        display: flex;
        height: 3rem;
        justify-content: center;
        left: 50%;
        position: absolute;
        top: -1.5rem;
        transform: translateX(-50%);
        width: 3rem;
    }

    &--counterclockwise::after {
        align-items: center;
        background: $teal;
        border-radius: 50%;
        content: '';
        display: flex;
        height: 1rem;
        justify-content: center;
        left: 50%;
        position: absolute;
        top: -0.5rem;
        transform: translateX(-50%);
        width: 1rem;
    }
}

.home__title {
    color: white;
    font-size: 4rem;
    letter-spacing: 1rem;
    margin: 0;
    padding: 0;
    text-align: center;
    z-index: 1;
}

.home__subtitle {
    font-size: $font-size-lg;
    font-style: italic;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 80%;
    z-index: 1;
}

.home__title-dot {
    border: 0.3rem solid white;
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 2.5rem;
    position: relative;
    transform: translate(-0.4rem, 0.2rem);
    width: 2.5rem;

    &::before {
        background: $teal;
        border-radius: 50%;
        content: '';
        height: 0.5rem;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 0.5rem;
    }
}

.home__stripe-block {
    align-items: center;
    background: linear-gradient(87.29deg, #9bf0e1 17.71%, #36baa2 80.85%);
    clip-path: polygon(0 8%, 100% 0, 100% 100%, 0% 100%);
    color: $black;
    display: flex;
    height: 60vh;
    justify-content: center;
    position: relative;
    transform: translateY(-3rem);

    .home__stripe-quote {
        font-size: 4rem;
        font-style: italic;
        font-weight: 900;
        max-width: 80rem;
        text-align: center;
        text-transform: uppercase;
        transform: rotate(-1.5deg) translateY(-5rem);

        &::before {
            content: '\201F';
            font-size: 15rem;
            left: -5rem;
            position: absolute;
            top: -5rem;
        }

        &::after {
            bottom: -5rem;
            content: '\201F';
            font-size: 15rem;
            position: absolute;
            right: -5rem;
            transform: rotate(180deg);
        }
    }

    .home__stripe-source {
        bottom: 15rem;
        font-size: 2.5rem;
        font-style: italic;
        font-weight: 800;
        left: 55%;
        position: absolute;
    }
}

.home__body {
    align-items: center;
    background: $blacker;
    clip-path: polygon(0 8%, 100% 0, 100% 100%, 0% 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transform: translateY(-18rem);
    width: 100%;
}

.home__spaceship-gif {
    display: block;
    height: 15rem;
    margin-top: 15rem;
    position: relative;
    width: 15rem;
    z-index: 10;
}

.home__card-list {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    margin: 0;
    position: relative;
}

.home__bar-chart-text {
    display: block;
    font-size: 2rem;
    margin: 3rem 0 10rem;
    text-align: center;
}
