@import '../../index';

/********************** header ************************/
.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.home__header {
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;

    span {
        color: $primary;
    }
}

.home__coordinates-text {
    color: white;
    display: inline-block;
    font-size: 1.5rem;
    left: 0;
    margin-left: 7rem;
    position: absolute;
    top: 50%;
    z-index: 1;
}

.home__pct-text {
    color: white;
    display: inline-block;
    position: absolute;
    right: 7rem;
    top: 50%;
    z-index: 1;
}

.home__overlay {
    background: $dark;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    width: 100%;
}

.home__video {
    height: 100%;
    object-fit: cover;
    position: absolute;
    width: 100%;
}

.home__circle-container {
    align-items: center;
    color: $primary;
    display: flex;
    flex-direction: column;
    height: 50rem;
    justify-content: space-evenly;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;

    footer {
        bottom: 7rem;
        font-size: 1.8rem;
        position: absolute;
        right: 13rem;
    }
}

@mixin rotate($name, $initial, $final) {
    animation: #{$name} 10s ease-in-out infinite;

    @keyframes #{$name} {
        0% {
            transform: rotate($initial);
        }

        100% {
            transform: rotate($final);
        }
    }
}

@keyframes clockwise {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes counterclockwise {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.home__circle-track {
    border: 0.1rem solid $primary;
    border-radius: 50%;
    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;

    &--clockwise {
        @include rotate(clockwise, 0, 360deg);
    }

    &--counterclockwise {
        @include rotate(counterclockwise, 0, -360deg);
    }

    &--counterclockwise::before {
        align-items: center;
        border: 0.2rem solid white;
        border-radius: 50%;
        content: '';
        display: flex;
        height: 3rem;
        justify-content: center;
        left: 50%;
        position: absolute;
        top: -1.5rem;
        transform: translateX(-50%);
        width: 3rem;
    }

    &--counterclockwise::after {
        align-items: center;
        background: $primary;
        border-radius: 50%;
        content: '';
        display: flex;
        height: 1rem;
        justify-content: center;
        left: 50%;
        position: absolute;
        top: -0.5rem;
        transform: translateX(-50%);
        width: 1rem;
    }
}

.home__title {
    font-size: 4rem;
    letter-spacing: 1rem;
    margin: 0;
    padding: 0;
    text-align: center;
}

.home__subtitle {
    font-size: $font_size_lg;
    font-style: italic;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 80%;
}

.home__title-dot {
    border: 0.2rem solid white;
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 2.5rem;
    position: relative;
    transform: translate(-0.4rem, 0.2rem);
    width: 2.5rem;

    &::before {
        background: $primary;
        border-radius: 50%;
        content: '';
        height: 0.5rem;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 0.5rem;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.home__scroll-btn {
    animation: pulse 2s linear infinite;
    background: 0;
    border: 0.1rem solid $primary;
    border-radius: 2rem;
    bottom: 2rem;
    color: white;
    font-size: 2rem;
    font-weight: 300;
    left: 50%;
    padding: 0.8rem 0.5rem;
    position: fixed;
    transform: translate(-50%);
}

/********************** body ************************/

.home__body {
    background: $darker;
    bottom: 0;
    box-shadow: $box_shadow_top;
    clip-path: polygon(0 0, 100% 7%, 100% 100%, 0% 100%);
    padding: 8rem 0;
    position: relative;
    top: 100vh;
    width: 100%;
}
