@import '../../globals';

$card-height: 35rem;
$panel-height: 10rem;

@mixin rover-hover-colors {
    &--curiosity:hover {
        background: lighten($teal, 5%);
    }

    &--opportunity:hover {
        background: lighten($blue, 5%);
    }

    &--spirit:hover {
        background: lighten($purple, 5%);
    }
}

.home__card-item {
    @include rover-colors();

    box-shadow: $box-shadow-xlg;
    color: $black;
    height: $card-height + $panel-height;
    perspective: 600px;
    position: relative;
    width: $card-height;
    z-index: 0;

    &:not(:first-child) {
        margin-left: 5rem;
    }

    &::before {
        @include rover-colors();

        content: '';
        height: 1rem;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.home__card-header {
    height: calc(100% - 10rem);
    position: relative;
    width: 100%;
}

.home__card-img-container {
    @include rover-colors();

    align-items: center;
    display: flex;
    height: $card-height;
    justify-content: center;
    position: absolute;
    top: 1rem;
    transition:
        border-radius 0.3s ease-out,
        height 0.3s ease-out,
        width 0.3s ease-out;
    width: $card-height;
    z-index: 0;
}

.home__card-img {
    background: $blacker;
    height: calc(100% + 2rem);
    object-fit: contain;
    padding: 2rem;
    transition: all 0.3s ease-out;
    width: 100%;
}

.home__card-wing {
    background: black;
    bottom: 3rem;
    height: 9rem;
    left: -6.9rem;
    position: absolute;
    transform: rotateY(-80deg) rotateZ(5deg);
    transform-style: preserve-3d;
    transition: all 0.3s ease-out;
    width: 13rem;
    z-index: -1;

    &--right {
        left: initial;
        right: -6.9rem;
        transform: rotateY(80deg) rotateZ(-5deg);
    }

    &--curiosity {
        background: darken($teal, 22.5%);
    }

    &--opportunity {
        background: darken($blue, 22.5%);
    }

    &--spirit {
        background: darken($purple, 22.5%);
    }
}

.home__card-body {
    align-items: flex-start;
    background: $black;
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    height: $card-height;
    height: 0;
    justify-content: space-between;
    opacity: 0;
    overflow-y: hidden;
    padding: 3rem;
    position: absolute;
    transition:
        transform 0.3s ease-out,
        height 0.3s ease-out,
        opacity 0.3s ease-out;
    z-index: -1;

    p {
        line-height: 1.7;
        position: relative;
    }
}

.home__card-panel {
    background: $blacker;
    border: 0.4rem solid black;
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;
    height: 10rem;
    justify-content: space-evenly;
    padding: 1rem;
    position: absolute;
    right: -1.5rem;
    transition: all 0.3s ease-out;
    width: $card-height + 3rem;

    p {
        display: block;
        font-weight: 600;
        left: 1rem;
        overflow: hidden;
        position: absolute;
        text-overflow: ellipsis;
        text-transform: uppercase;
        top: 2.5rem;
        transition: all 0.3s ease-out;
        white-space: nowrap;

        &:last-child {
            bottom: 2.5rem;
            text-transform: initial;
            top: initial;
        }
    }

    &--curiosity {
        border-color: $teal;
    }

    &--opportunity {
        border-color: $blue;
    }

    &--spirit {
        border-color: $purple;
    }
}

.home__card-btn {
    @include rover-colors();
    @include rover-hover-colors();

    border: 0;
    bottom: 3rem;
    color: white;
    font-size: 1.5rem;
    outline: 0;
    padding: 1rem 2rem;
    transition: background 0.3s, color 0.3s;
}

.home__card-item.active .home__card-img-container {
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    z-index: 2;

    .home__card-img {
        border-radius: 50%;
        height: 100%;
    }
}

.home__card-item.active .home__card-panel {
    bottom: $card-height;

    p {
        left: 11rem;
        max-width: 20rem;
    }
}

.home__card-item.active .home__card-wing {
    bottom: $card-height - 2rem;
    transform: rotateY(-80deg) rotateZ(-5deg);

    &--right {
        transform: rotateY(80deg) rotateZ(5deg);
    }
}

.home__card-item.active .home__card-body {
    height: $card-height;
    opacity: 1;
}

.home__card-toggle-btn {
    @include rover-colors();
    @include rover-hover-colors();

    border-radius: 50%;
    box-shadow: $box-shadow-m;
    color: white;
    cursor: pointer;
    height: 4rem;
    padding: 1rem;
    position: absolute;
    right: 1rem;
    top: 2rem;
    transition: background 0.3s, color 0.3s;
    width: 4rem;
    z-index: 20;

    &:hover {
        color: $light;
    }
}
