@import '../../index';

.card {
    align-items: center;
    background: white;
    box-shadow: $box_shadow_lg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    overflow-y: hidden;
    position: relative;
    width: 30rem;
}

.card__img-container {
    align-items: center;
    background: $dark;
    display: flex;
    height: 30rem;
    justify-content: center;
    position: relative;
    width: 30rem;

    .card__img {
        background: $dark;
        height: 100%;
        width: 100%;
    }
}

.card__body {
    color: $dark;
    padding: 1rem;
    position: relative;
}

.card__text {
    margin: 0.5rem;
}

.card__btn {
    background: $primary;
    border: 0.1rem solid $primary;
    box-shadow: $box_shadow_m;
    color: white;
    cursor: pointer;
    display: block;
    outline: 0;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;

    &:hover {
        background: $primary;
        color: white;
    }
}
