@import '../../globals';

.navbar {
    align-items: center;
    background: linear-gradient(90.49deg, #121212 15.36%, #282828 70.44%);
    box-shadow: $box-shadow-m;
    display: flex;
    height: 7rem;
    justify-content: flex-end;
    left: 0;
    padding: 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar__icon {
    cursor: pointer;
    fill: $teal;
    height: 2.5rem;
    width: 2.5rem;
}
