@import '../../globals';

.navbar {
    align-items: center;
    box-shadow: $box-shadow-s;
    display: flex;
    height: 5rem;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

.navbar__icon {
    fill: $red;
    height: 2.5rem;
    width: 2.5rem;
}
