@import '../../globals.scss';

.sidebar {
    background: $teal;
    box-shadow: $box-shadow-lg;
    height: 100%;
    left: 0;
    min-width: 300px;
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    transition: all 0.2s ease-in-out;
    width: 30%;
    z-index: 10;

    &.active {
        transform: translateX(0);
    }
}

.sidebar__header {
    height: 30rem;
    width: 100%;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(1080deg);
    }
}

.sidebar__toggle-btn-container {
    background: $teal;
    box-shadow: $box-shadow-m;
    color: white;
    cursor: pointer;
    height: 7rem;
    position: absolute;
    right: -7rem;
    top: 0;
    width: 7rem;
}

.sidebar__toggle-btn {
    animation: spin 0.5s ease-out;
    padding: 2.5rem;
    transition: all 0.5s;
}

.sidebar__link-list {
    display: flex;
    flex-direction: column;
}

.sidebar__link-item {
    align-items: center;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: $font-size-lg;
    font-weight: 600;
    height: 5rem;
    letter-spacing: 0.5rem;
    text-decoration: none;
}
