@import '../../globals.scss';

.sidebar {
    background: $blacker;
    box-shadow: $box-shadow-lg;
    height: 100%;
    left: 0;
    min-width: 300px;
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    transition: all 0.5s;
    width: 30%;
    z-index: 1;

    &.active {
        transform: translateX(0);
    }
}

.sidebar__header {
    margin-top: 10%;
    text-align: center;
}

.sidebar__link-list {
    display: flex;
    flex-direction: column;
}

.sidebar__link-item {
    background: $teal;
    color: $light;
    padding: 15px;
    padding-left: 5rem;
    text-decoration: none;
}

.sidebar__toggle-btn {
    color: $teal;
    height: 2.5rem;
    width: 2.5rem;
}