@import '../../globals';

.photo-card {
    align-items: center;
    box-shadow: $box-shadow-lg;
    display: flex;
    flex-direction: column;
    height: 50rem;
    justify-content: space-between;
    margin: 1rem;
    overflow-y: hidden;
    position: relative;
    width: 30rem;
}

.photo-card__img-container {
    height: 30rem;
    position: relative;
    width: 100%;

    .photo-card__img {
        height: 100%;
        width: 100%;
    }
}

.photo-card__loader {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.photo-card__body {
    background: white;
    color: $black;
    height: 20rem;
    padding: 1.5rem;
    position: relative;
    width: 100%;
}

.photo-card__text {
    margin: 1rem 0;
}

.photo-card__btn {
    background: $teal;
    border: 0.1rem solid $teal;
    box-shadow: $box-shadow-m;
    color: white;
    cursor: pointer;
    display: block;
    margin-top: 2rem;
    outline: 0;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;

    &:hover {
        background: $teal;
        color: white;
    }
}
